<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bont_Id</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons/font/bootstrap-icons.css'%}">
    <link rel="stylesheet" href="{% static 'css/app.css'%}">

</head>
<body>
    
    <div class="navigation">
        <nav class="navbar navbar-dark  bg-purple">
            <div class="container-fluid">
              <span class="navbar-brand float-rigth mb-0 h1"><a>bont_id</a></span>
              <form class="d-flex">
                  <a  class="search" ><i class="bi bi-search"></i></a>
              </form>
              <button  type="button" class="btn btn-primary">Commencer</button>
            </div>
        </nav>
      </div>
    
</body>
</html>