
.navigation{
  background: linear-gradient( #051e34 ,#051e34) !important;
}
  .navigation i{
    color: white
  }
  .navigation .btn{
    color: white;
    background: linear-gradient( #051e34 ,#051e34) ;
  }

a{
  text-decoration: none;
  color: white;
}

a :hover{
  color: white;
}



.parent-div {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }

  .parent-div input[type=file] {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    font-size: 90px;
  }
  .container .tete {
    width: 100%;
    background-image: url("../assets/fond1.webp") ;

  }
  .container .tete  .image1{
    width: 30%;
    margin-bottom:30px ;

  }
  .container .tete  .btn{
    color: white;
    background: linear-gradient( #051e34 ,#051e34) ;
  }

  .container .tete  .image2{
    margin-top: 30px;
  }

  .container .tete  .image2  img{
    width: 100%;
  }

  .container  .detaille{
    margin-top: 100px;
  
   
  }

  .container  .detaille   .img2{
    width: 600px;
  }
  
  .container  .detaille .detail1{
    text-align: left;
    margin-right: 50px;
  }
  .container  .detaille  .detail2{
    text-align: left;
    margin-left: 50px;
  }

  .container  .plus{
    margin-top: 100px ;
  }

  .container{
    justify-content: center;
    text-align: center;
    padding-top:30px ;
}

.cont{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  background-color: #46237b;
}
/* 
.cont .Title{
  color: white;
  padding: 30px;
  padding-bottom: 40px;
  background: linear-gradient(70deg ,#7952b3 ,#46237b ) !important;
}

.cont .card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
} 

.cont .card {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:  210px ;
  grid-template-areas: "text" ;
  width: 30%;
  border-radius: 18px;

  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  transition: 0.5s ease;
  margin-bottom: 20px;
}

.cont .card  .card-text {
  grid-area: text;
  grid-area: text;
  margin: 25px;
    
}

.cont .card  .card-text  p {
  font-size:15px;
  font-weight: 300;
}
.cont .card  .card-text  h2 {
  margin-top:0px;
  font-size:28px;
}
 */



@media screen and (max-width: 1000px) {
  .cont{
    display:inline;
  }

  .container{
    width: 100%;
}
.container .det{
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse !important;
}

.container .detaille{
  flex-wrap: wrap;
}
.container .detaille  .img2{
  width: 100%;
}
.container .detaille  .img1{
  width: 100%;
}
.container .detaille .detail1{
  text-align: left;
  margin-bottom: 30px;
}
.container .detaille .detail2{
  text-align: left;
  margin-left: 0px;
  margin-bottom: 30px;
}

}

